{% extends 'layout.html' %}

{% block content %}

<div class="bounds">
  <div class="grid-30 centered">
  <h1>Project</h1>
    <form method="POST">
      {% csrf_token %}
      <label>Title</label>
      {{ form.title }}
      <label>Content</label>
      {{ form.content }}
      <label>Project Timeline</label>
      {{ form.project_timeline }}
      <label>Project Position</label>
      {{ form.position }}
      <label>Applicant Requirements</label>
      {{ form.applicant_requirements }}
      <input type="submit" value="Create Project" class="button-primary">
    </form>
    
    <div class="border-top pt-3">
      <small class="text-muted">
        Do you have an account already?<a class="ml-2" href="#">Log In</a>
      </small>
    </div>
  </div>
</div>

{% endblock %}
