{% extends 'layout.html' %}

{% block content %}

<h1>Applications by {{ user }} </h1>

  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a class="selected" href="applications.html">Applications</a></li>
        <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
      </ul>
    </nav>
  </div>

  <div class="bounds circle--page">
    <div class="circle--page--header grid-100">
      <h2>Applications</h2>
    </div>

    <div class="grid-25">
      <div class="circle--filter circle--secondary--module">
        <h4>Status</h4>
        <ul class="circle--filter--list">
          <li><a class="selected">User Applications</a></li>
          {% for object in applications %}
            <li><a class="selected" >{{ object }}</a></li>
          {% endfor %}
            <li><a class="selected">Accepted</a></li>
            {% for object in applications %}
              {% if object.status == 'ACC' %}
                <li><a>{{ object }}</a></li>
              {% endif %}
            {% endfor %}
            <li><a class="selected">Rejected</a></li>
            {% for object in applications %}
              {% if object.status == 'DEC' %}
                <li><a>{{ object }}</a></li>
              {% endif %}
            {% endfor %}
        </ul>
      </div>

  {% endblock %}