{% extends 'layout.html' %}

{% block content %}

<h1>Projects by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>

      <div class="circle--filter circle--secondary--module">
        <h1>All Projects</h1>
        <ul class="circle--filter--list">
          {% for object in projects %}
          <li><a class="selected" >{{ object }}</a></li>
          <li><a class="" >{{ object.content }}</a></li>
          <li><a class="" href="{% url 'projects:user_list_projects' object.author.username %}">By: {{ object.author }}</a></li>
          {% endfor %}
          {% if is_paginated %}
            {% if page_obj.has_previous %}
              <a class="button icon-on-left" href="?page=1">First</a>
              <a class="button icon-on-left" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="button button-primary" href="?page={{ num }}">{{ num }}</a>
              {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                <a class="button icon-on-left" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <a class="button icon-on-left" href="?page={{ page_obj.next_page_number }}">Next</a>
              <a class="button icon-on-left" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
          {% endif %}
        </ul>
      </div>

{% endblock %}